body {
  background-color: #00264d;
}

.container {
  position: relative;
  justify-content: center;
  display: flex;
  height: 400px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-family: serif;
  color: #ffffcc;
  justify-content: center;
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
}

.showcase {
  position: absolute;
  justify-content: center;
  margin-bottom: 50px;
  width: 48%;
  height: 100%;
  top: 150px;
}
