body {
  background-color: #00264d;
}

div {
  position: relative;
  justify-content: center;
  display: flex;
  height: 300px;
}

h1 {
  font-family: serif;
  color: #ffffcc;
  justify-content: center;
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
}

.showcase {
  position: absolute;
  justify-content: center;
  display: inline-block;
  width: 667px;
  height: 500px;
  top: 150px;
}
