body {
  background-color: #00264d;
}

h1 {
  font-family: serif;
  color: #ffffcc;
  justify-content: center;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.showcase {
  position: absolute;
  justify-content: center;
  display: inline-block;
  width: 667px;
}
